html, body {
	background-color: #ffeead;
	padding: 10px;
	font-family: sans-serif;
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container > div {
	padding: 10px;
	text-align: center;
	font-size: 2em;
	color: #ffeead;
}

.container > div:nth-child(3n+1) {
	background-color: #96ceb4;	
}

.container > div:nth-child(3n+2) {
	background-color: #ff6f69;
}

.container > div:nth-child(3n+3) {
  background-color: #f265ff;
}